*{
    margin:0 !important;
    padding:0 !important;
    box-sizing:0 !important;
}


#background-two{
    background-color:rgba(0,0,0,0.7);
}


#background-one{
    background-image: url(img02.jpg);
    background-repeat: none !important;
    background-size: cover !important;
    background-attachment: scroll !important;
    border-bottom:5px solid rgb(255,193,7);
}

a{
    text-decoration: none !important;
}

.text{
    text-align:center;
}

.profile-image{
    width:8%;
    height:60px;
}

.top-menu{
    height:50px;
    text-align: center !important;
}

.toure{
    height:200px;
    margin: 150px auto !important;
}

.content-toure{
    margin:0 auto!important;
    width:75%;
    height:100%;
    text-align: center;
}

.lifestyle{
    width:15% !important;
    margin:0 auto !important;
    height:30px !important;
}

.gg{
    height:130px !important;

    transform: rotate(10deg);
    text-align: center;
}

.container{
    border-bottom: 2px solid rgb(255,193,7);
    width:30% !important;
    margin: 0 auto !important;
}

.float-l{
    float: left !important;
    width:21% !important;
    height:320px !important;
    margin:2% !important;
    margin-bottom: 0 !important;
    transition: all 500ms;
    /* border:20px solid rgb(38, 38, 38); */
}

.float-l:hover{
    background-color: rgb(255,193,7) !important;
}

.cont-image{
    width:90%;
    height:55%;
    border:2px solid white;
    margin:10px auto !important;
}

.picture-text{
    width:95% !important;
    margin:10px auto !important;
}

.div-3{
    width:40% !important;
    height:40% !important;
    margin-top: 40px !important;
    position: relative;
    z-index: 10;
    border:15px solid rgb(23, 23, 23);
    box-shadow: 10px 10px 5px rgb(0, 3, 25);
    transition:all 500ms;
}

.div-3:hover{
    box-shadow: -10px 10px 5px rgb(255, 255, 255);
}

.date{
    font-size: 0.8em !important;
}

.mg1{
    height:500px;
}

.lorem1{
    color:rgb(115, 114, 114);
    text-align: justify;
}

.social-media{
    margin-top:70px !important;
}

.icon{
    width:19% !important;
    display: inline-block;
    background-color: black;
}

.div-3-3{
    background-color: rgb(33, 32, 32) !important;
}


.tow-div{
    height:fit-content !important;
}

.video{
    position: relative;
    margin-top: 150px !important;
    height:350px !important;
}
.video::after{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.547);
    top:0;
    right:0;
}

.rt{
    font-size: 0.8em !important;
}

.play-icon{
    top:35%;
    left:43%;
    color:rgb(225, 160, 7) !important;
    font-size: 5em;
    z-index: 99;
}

.recent{
    width:60% !important;
}
.post-text{
    color:rgb(126, 125, 125);
    font-size:0.8em !important;
}

.optext{
    color:rgb(120, 120, 120);
}

.may{
    display: inline-block !important;
    font-size: 0.8em;
    color:rgb(67, 67, 67);
}

.pop{
    width:90%;
    margin:0 auto !important;
}

.cimg{
    height:250px;
}

.lorem-{
    width:80% !important;
}

.place-you{
    height:450px;
}

.category{
    height:fit-content !important;
}

.category-{
    text-align:justify !important;
}

.carousel{
    height:300px !important;
}

.carousel-container{
    margin-top:100px !important;

}

.tytytyt{
    height:300px !important;
}

.phptosd{
    margin-left:127px !important;
}

@media screen and (min-width:150px) and (max-width:950px) {
    .ui90{
        margin-top: 700px !important;
    }

}

.end-part{
    margin-top: 400px !important;
    margin-bottom:100px !important ;
}

.logo12{
    height:50px !important;
}

.logo12 img{
    width:50px !important;
}

input{
    outline: none !important;
    border: none !important;
    height:60px;
    background-color: black;
    border-radius: 10px !important;
}
button{
    height:60px;
    padding: 3px !important;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px !important;
}

button i{
    transform: rotate(-10deg);
    transition: all 500ms !important;
}

button i:hover{
    transform: rotate(10deg) !important;
}